/* 
    Created on : 2015-6-15, 13:18:05
    Author     : mason.ding
*/

.bordered-group {
    
    .borders;
    .border-radius;
    
    padding: 5px;
    margin: 0px 5px;
}

.auto-size {
    max-width: 920px;
    max-height: auto;
}

.shortCut {
    margin-top: 20px;
    padding: 10px 10px;
    .borders;
    .border-radius;
    
    button {
        margin: 10px;
        float: right;
    }
}

#editor,
#editorSolution {
    .form-control;
    height: 300px;
    overflow:scroll; 
    max-height:600px;
    max-width: 1024px;
    
}

.top-gap {
    margin-top: 10px;
}

.hero-unit {
    padding: 10px 60px 60px;
}

.table-row-variant(dark; lighten(#000, 50%));

